
#footer {
    margin-top: 100px;
}

#news-info h3 {
    color: #6b6b6b;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

#news-info ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #fff;
}


#address {
    display: grid;
    place-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}
#address h3 { 
    color: #6b6b6b;
    font-size: 20px;}
#address p { 
    color: #6b6b6b;
    font-size: 10px;
}

#socialmedia ul li {
    width: 50px;
}

